* {
	box-sizing: border-box;
}

body {
	text-align: center;
	margin: auto;
}

.container {
	box-sizing: content-box;
	padding: 0;
	width: 500px;
	height: 500px;
	border: 1px solid black;
	display: flex;
	flex-wrap: wrap;
	margin: 20px auto 40px;
}

button {
	width: 150px;
	background-color: white;
	padding: 20px;
	border: 1px solid black;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	margin: 10px;
}

button:hover {
	color: #0fa3ff;
	border: 1px solid #0fa3ff;
}

button:active {
	transform: scale(1.1);
}
